.mainContainer{
    padding-top: 60px;
}
.navContainer{
    width: 200px;
    margin-top: 64px;
}
.contentContainer{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top:32px;
    margin-right: 32px;
    padding: 0px;
}